<!DOCTYPE html>
<html>
<head>
  <title>TwitterAnalyticsWeb</title>

    <style>
      body {
          font-family: "Helvetica Neue",Arial,sans-serif;
          font-size: 14px;
      }

      #upload-form {
        padding: 10px;
      }

      .analytic-object {
        color: #555;
        float: left;
        margin-left: 30px;
      }

      .analytic-object span {
        font-size: 34pt;
        font-color: #000;
        font-weight: lighter;
        display: block;
      }

      #total-impressions {
      }

      #total-engagements {
      }

      #total-tweets {
        padding-top: 17px;
      }

      #date-range {
        padding-top: 17px;
      }

      #optimal-post {
        clear: both;
        margin: 30px auto;
        padding-top: 50px;
        text-align: left;
        font-size: 18pt;
      }

      #optimal-post b {
        font-size: 28pt;
      }

      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }

    </style>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
