<div id="upload-form">
<%= form_tag({:action => :parse}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Process" ) %>
<% end %>

<p>
Upload your <a href="http://analytics.twitter.com" target="_twitter">tweet_activity_metrics.csv</a> file
</p>
</div>