<!DOCTYPE html>
<html>
<head>
  <title>Twheatmaps</title>

    <style>
      body {
          font-family: "Helvetica Neue",Arial,sans-serif;
          font-size: 14px;
      }

      #upload-form {
        padding: 10px;
      }

      .analytic-object {
        color: #555;
        float: left;
        margin-left: 50px;
      }

      .analytic-object span {
        font-size: 34pt;
        font-color: #000;
        font-weight: lighter;
        display: block;
      }

      #total-impressions {
      }

      #total-engagements {
      }

      #total-tweets {
      }

      #date-range {
      }

      #optimal-post {
        clear: both;
        margin: 30px auto;
        padding-top: 50px;
        text-align: left;
        font-size: 18pt;
      }

      #optimal-post b {
        font-size: 28pt;
      }

      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }

      h1 {
        text-align: center;
        width: 100%;
        padding: 20px;
        border-bottom: 2px solid #aaa;
        margin-bottom: 20px;
      }

      #upload-form {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
      }

      input.uploadbutton {
        border: 2px solid #ccc;
        padding: 10px;
        margin: 10px;
        font-size: 12pt;
        background-color: #eee;
        color: #343434;
        font-weight: bold;
        width: 50%;
      }

      input.processbutton {
        border : solid 2px #c7c7c7;
        border-radius : 5px 5px 20px 20px ;
        moz-border-radius : 5px 5px 20px 20px ;
        font-size : 20px;
        color : #64b4d1;
        padding : 2px 10px;
        background : #ffffff;
        background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6));
        background : -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
        background : -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
        background : -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
        background : -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
        background : linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
        filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
      }

      #footer {
        margin-top: 50px;
        text-align: center;
        width: 100%;
      }

    </style>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  
</head>
<body>

<h1>twHEATMAPS</h1>

<%= yield %>


<div id="footer">
  <p>
    <iframe src="http://ghbtns.com/github-btn.html?user=dubrie&repo=twitter_analytics&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=dubrie&repo=twitter_analytics&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=dubrie&repo=twitter_analytics&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="115px" height="20px"></iframe>
  </p>
  <p>Designed and built by <a href="http://twitter.com/dubrie" target="_blank">@dubrie</a></p>
</div>
</body>
</html>