<div id="upload-form">

    <form action="parse" method="post" enctype="multipart/form-data" accept-charset="utf-8">
       <input type="file" name="file" id="file">
       <input type="submit" value="Process">
    </form>

<p>
Upload your <a href="http://analytics.twitter.com" target="_twitter">tweet_activity_metrics.csv</a> file
</p>
</div>