<div id="upload-form">

    <p>
    Upload your <a href="http://analytics.twitter.com" target="_twitter">tweet_activity_metrics.csv</a> file
    </p>
    
    <form action="parse" method="post" enctype="multipart/form-data" accept-charset="utf-8">
       <input class="uploadbutton" type="file" name="file" id="file" size="60"><br />
       <input class="processbutton" type="submit" value="Process Analytics">
    </form>

</div>